// font imports

@font-face {
    font-family: "Bitter";
    src: url("/fonts/Bitter-Medium.woff2") format("woff2"),
        url("/fonts/Bitter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bitter";
    src: url("/fonts/Bitter-SemiBold.woff2") format("woff2"),
        url("/fonts/Bitter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-Regular.woff2") format("woff2"),
        url("/fonts/Jost-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-Medium.woff2") format("woff2"),
        url("/fonts/Jost-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost-SemiBold.woff2") format("woff2"),
        url("/fonts/Jost-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// font mixins

@mixin font-bitter-medium {
    font-family: "Bitter", sans-serif;
    font-weight: 500;
}

@mixin font-bitter-semibold {
    font-family: "Bitter", sans-serif;
    font-weight: 600;
}

@mixin font-jost-book {
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

@mixin font-jost-medium {
    font-family: "Jost", sans-serif;
    font-weight: 500;
}

@mixin font-jost-semibold {
    font-family: "Jost", sans-serif;
    font-weight: 600;
}
