// set base font size
$base-font-size: 16;

// px to rem
@function rem($val) {
    @return calc($val/$base-font-size) + rem;
}

// set font size, leading, tracking
@mixin font($font-size, $leading, $tracking: 0) {
    font-size: calc($font-size / $base-font-size) + rem;
    letter-spacing: $tracking + px;
    line-height: calc($leading / $base-font-size) + rem;
}

// media queries
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 992px) {
        @content;
    }
}

@mixin desktop-sm {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1850px) {
        @content;
    }
}

@mixin desktop-lg {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@mixin desktop-xl {
    @media screen and (min-width: 1921px) {
        @content;
    }
}
